mat-card {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 100px;
}

button{
  width: 60%;

}

mat-card-title{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


mat-card-header {
  text-align: center;
  font-size: 1.2rem;
}

mat-card-content {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

input,
textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

textarea {
  resize: vertical;
  min-height: 80px;
}

button {
  background-color: #1976d2;
  color: white;
  padding: 12px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #125a9c;
}

/* **Diseño responsive** */
@media (max-width: 768px) {
  mat-card {
    width: 90%;
    padding: 15px;
  }

  input,
  textarea {
    font-size: 0.9rem;
  }

  button {
    font-size: 0.9rem;
    padding: 10px;
  }
}